@import '~foundation-sites/scss/foundation';

@import '../scss/settings';
$global-flexbox: false;
$topbar-title-spacing: 0rem 0rem 0rem 0;

@include foundation-everything($flex: false);

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import '../scss/home';
@import '../scss/about';

